{% extends 'base.html' %}

{% load static %}

{% block content %}

    <center>
    <h1>Fakultas Pertanian</h1>
    </center>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/EiVgWt2bcs0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <hr>
    <hr>
    <h2>Jurusan/Program Studi yang ada di Fakultas Pertanian</h2>
    <ol style="text-align: justify;">
        <b><li>Agribisnis</li></b>
        <p>Pada Tahun 2009 Program Studi Sosial Ekonomi Pertanian berubah menjadi Jurusan/Program Studi Agribisnis, dengan Keputusan Rektor No. 181/H43/KR/SK/2009 dan diakreditasi kembali pada tahun 2012 dengan akreditasi B berdasarkan SK BAN PT Nomor: 024/BAN-PT/Ak-XV/S1/VIII/2012.</p>
        <b><li>Agroekoteknologi</li></b>
        <p>Jurusan agroekoteknologi merupakan suatu upaya turut sertanya Faperta Untirta dalam menunjang pembangunan nasional dan daerah terutama dalam pengembangan pemanfaatan dan pengelolaan sumberdaya alam (SDA) dan sumberdaya Manusia (SDM) khususnya di sektor pertanian.</p>
        <b><li>Ilmu Perikanan</li></b>
        <p>Prodi Perikanan merupakan suatu upaya turut sertanya Faperta Untirta dalam menunjang pembangunan nasional dan daerah terutama pengembangan sumberdaya manusia (SDM) di sektor perikanan.</p>
        <b><li>Teknologi Pangan</li></b>
        <p>Program pengembangan di Program studi Teknologi Pangan adalah melaksanakan tridharma perguruan tinggi dan menyelenggarakan program studi yang berkualitas dalam pengembangan IPTEK pangan berbasis sumber daya lokal untuk mendukung Food Security.</p>
    </ol> 
    <hr>
    <hr>
    <h3>
        DATA DOSEN
        <a href="{% url 'tambah_Dosen' %}">Tambah</a>
    </h3>
    {% for message in messages %}
                {% if message %} 
                <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NIP</th>
                        <th>NAMA</th>
                        <th>TANGGAL LAHIR</th>
                        <th>FOTO</th>
                        <th>EMAIL</th>
                        <th>FAKULTAS</th>
                        <th>PRODI</th>
                        <th>ALAMAT</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                {% for Dosen in books %}
                <tr>
                    <td><a href="{% url 'ubah_Dosen' Dosen.id %}">{{ Dosen.NIP }}</a></td>
                    <td>{{ Dosen.Nama }}</td>
                    <td>{{ Dosen.TanggalLahir }}</td>
                    <td>{{ Dosen.Foto }}</td>
                    <td>{{ Dosen.Email }}</td>
                    <td>{{ Dosen.Fakultas }}</td>
                    <td>{{ Dosen.Prodi }}</td>
                    <td>{{ Dosen.Alamat }}</td>
                    <td>
                        <button data-toggle="modal" data-target="#hapus-{{ Dosen.id }}" class="btn btn-danger">Hapus</button>
                    </td>
    
                    <div class="modal" id="hapus-{{ Dosen.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title">
                                       <h3>Hapus</h3>
                                    </div>
                                </div>
                            <div class="modal-body">
                                Apakah Anda yakin ingin menghapus<strong>{{ Dosen.Nama | upper }}</strong>?
                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'hapus_Dosen' Dosen.id %}" class="btn btn-danger">Hapus</a>
                                <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </tr>
                            {% endfor %}
    
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<br>
    
<hr>
    <hr>
    <br>
    <style>
        .fapertalogo{
                    float: left;
                    margin-left: 50px;
                }
    </style>
    <img class="fapertalogo" src="https://faperta.untirta.ac.id/wp-content/uploads/2020/04/cropped-logofaperta.png" width="300px">
    <b>
        <p style="text-align: center;">Fakultas Pertanian Untirta Sindangsari Integrated Campus (Kampus E).</p>
        <p style="text-align: center;">Jl. Raya Palka Sindangsari, Kec. Pabuaran, Kabupaten Serang, Banten 42163.</p>
    </b>
    <br>
    <hr>
    
    
{% endblock %}